input {
    display: block;
    width: 500px;
    height: 2.2em;
    margin: 1em 0;
}

button {
    display: block;
    margin: 1em 0;
    background-color: black;
    color: white;
    height: 3em;
    padding: 1em 2em;
    border-radius: 10px;
}

